 <div class="container">
    <div class="row align-items-center my-5">
      <div class="col-lg-7"> 
        <img class="img-fluid rounded mb-4 mb-lg-0" [src]="_conf.conFig.header.photo" [alt]="_conf.conFig.header.heading">
      </div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{_conf.conFig.header.heading}}</h1>
        <p [innerHtml]="_conf.conFig.header.headingtext"></p>
        <a class="btn btn-primary" routerLink="_conf.conFig.header.buttonlink">{{_conf.conFig.header.buttontext}}</a>
      </div>
    </div>
    <div class="card jumbotron my-5 py-4 text-center">
      <div class="card-body">
        <p class="m-0" [innerHtml]="_conf.conFig.blog.title"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let card of _conf.conFig.socialsites">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" [innerHtml]="card.title"></h2>
            <p class="card-text"  [innerHtml]="card.description"></p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/blog',card.id]" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>

    </div>

  </div>