<div class="card" style="width: 18rem;">
	<div class="card-header">
		<span class="fa fa-list"></span> Batter (Static)
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let batter of _ts.getBatters()">{{batter.type}} <span class="badge badge-primary">{{batter.id}}</span></li>
  </ul>
</div>
<hr>

<div class="row">
  <div class="col-sm-2" style="margin-bottom: 14px;" *ngFor="let user of _ts.users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><span class="fa fa-user"></span>&nbsp;<a role="button" [routerLink]="['/user/', user.id]">{{user.name | slice : 0:20}}</a></h5>
        <p><b class="card-text"><span class="fa fa-share-alt"></span>&nbsp;{{user.email}}</b></p>    
         <p><b class="card-text"><span class="fa fa-mobile"></span>&nbsp;{{user.phone}}</b></p>
      </div>
    </div>
  </div>
</div>